* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0e2353;
}

a {
  color: #0e2353;
  text-decoration: none;
}

a:visited {
  color: #0e2353;
}

a:hover {
  color: #ae9b3e;
}

h1 {
  text-align: center;
}

.App__main {
  height: calc(100vh - 70px);
  max-width: 600px;
  overflow: auto;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 40px;
}

.LandingPage_wrapper {
  padding: 0 60px;
}

.section-one,
.section-two,
.section-three {
  height: calc(100vh - 150px);
}

section {
  width: 100%;
  margin: 0;
  position: relative;
}

.section-one-box,
.section-two-box,
.section-three-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.section-two,
.section-three {
  display: none;
}

.section-one-box h3,
.section-one-box p {
  text-transform: capitalize;
  text-align: center;
}

.Header {
  height: 40px;
  display: flex;
  align-items: normal;
  justify-content: space-between;
  padding: 10px;
}

.Header h1 {
  margin: 0;
  position: relative;
}

h1 a {
  text-decoration: none;
}

.nav__link {
  position: relative;
  top: 8px;
}

.nav__link a {
  padding: 0 1.2rem;
  text-decoration: none;
}

label {
  font-size: 1.2em;
}

.LoginForm,
.RegistrationForm {
  margin: 20px 20px 0 20px;
}

.Input,
.Title {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
  border-radius: 4px;
}

a.Button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #657497;
  color: white;
  text-decoration: none;
}

.Button {
  border: 1px solid #aaa;
  background-color: #657497;
  color: white;
  font-size: 1.1em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.backpack-container {
  margin-left: 20px;
  margin-right: 20px;
}

.backpack-container a.Button {
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #afb4bf;
  color: white;
  text-decoration: none;
}

.card h2,
.card p {
  margin-bottom: 2px;
  margin-top: 2px;
}

.card p {
  font-size: 0.8em;
}

.card:hover {
  transform: scale(1.05);
}

.form.section,
.pack.list {
  padding: 0 20px;
}

h4 {
  margin-bottom: 20px;
}

.svg-inline--fa.fa-plus.fa-w-14 {
  margin-right: 15px;
}

/* input[type='checkbox'] {

} */

.Title {
  margin: 1px 0;
}

.error {
  font-size: 0.75em;
}

.Save.Button {
  border: 1px solid #aaa;
  background-color: #657497;
  color: white;
  font-size: .75em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Add.Button,
.Back.Button {
  margin-top: 20px;
  margin-left: 20px;
}

.backpack-item-list {
  text-align: center;
}

.pack.categories,
.total.weight {
  padding: 0 20px;
}

.pack.categories h4 {
  display: inline-block;
}

.pack.items {
  display: inline-flex;
}

.pack.items p {
  margin: 0 5px;
  font-size: 0.9em;
}

.total.weight {
  text-align: center;
  margin-top: 50px;
}

.Back.Button {
  display: flex;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}
