@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap");
@media screen and (min-width: 300px) {
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    background-image: url("https://github.com/mmbmf1/backpackd-app/blob/backpack-patch/src/images/man-in-black-backpack-during-golden-hour-1230302.jpg?raw=true");
    background-position: 60% center;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  .red {
    padding-bottom: 10px;
    width: 275px;

    font-weight: 400;
    font-size: 1em;
    color: red;
  }

  a {
    color: #0e2353;
    text-decoration: none;
  }

  .home.link {
    vertical-align: -3px;
    padding-left: 8px;
  }

  .nav__link {
    position: relative;
    top: 8px;
  }

  .nav__link a {
    margin-right: 5px;
    padding: 0 0.5em;
    vertical-align: -3px;
    font-size: 1.1em;
  }

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .Header h1 {
    margin: 0;
  }

  h1 a {
    text-decoration: none;
  }

  .App__main {
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
  }

  .LandingPage_wrapper {
    width: 75%;
    margin: 35vh auto;
  }

  .section-one {
    margin-bottom: 38vh;
  }

  .section-one,
  .section-two {
  }

  .section-one-box h3 {
    text-transform: capitalize;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    color: #0e2353;
  }

  .info_cards_container {
    margin: 0 auto;
    position: relative;
  }

  .section-two-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info_card {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    padding: 15px;
    background-color: rgba(238, 238, 238);
    border-radius: 10px;
  }

  .fa-weight,
  .fa-question,
  .fa-map-signs {
    font-size: 5em;
    color: rgba(101, 116, 151);
    stroke: #021031;
    stroke-width: 10px;
    flex: 1;
  }
  .info_card_text {
    flex: 2;
    margin-left: 20px;
  }

  .info_card_text h3 {
    font-size: 0.6em;
    font-family: "Raleway", sans-serif;
    color: #021031;
  }

  .info_card_text p {
    font-size: 0.8em;
    color: #7c7c7c;
    font-family: "Open Sans", sans-serif;
  }

  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
  }

  button.btn {
    width: 12rem;
    height: auto;
  }

  button.btn .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #0e2353;
    border-radius: 1.625rem;
  }
  button.btn .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.btn .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.btn .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  button.btn .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    font-weight: inherit;
    line-height: 1.6;
    text-align: center;
    color: #0e2353;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;
  }
  button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
    transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }

  #container {
    text-align: center;
  }

  .login_background {
    position: absolute;
    /* top: 32px; */
    width: 250px;
    height: 425px;
    border-radius: 10px;
    background: linear-gradient(#021031, #657497);
    opacity: 0.2;
    z-index: -1;
  }

  .user_name,
  .password {
    padding: 10px 30px 10px 20px;
  }

  .Login__main {
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
  }

  .LoginForm {
    margin: 1vh auto;
  }

  label {
    font-size: 1.3em;
    color: white;
  }

  .show_password {
    display: flex;
    align-items: center;
  }

  .show_password label {
    font-size: 0.6em;
    color: #021031;
    top: 4px;
  }
  .show_password {
    margin-bottom: 0;
  }

  .login_input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .login_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .Login {
    width: 175px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #021031;
    color: #ffffff;
    font-size: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
  }

  .Login span {
    font-size: smaller;
  }

  .Register__link {
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
  }

  .Register__link p {
    width: 175px;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: white;
  }

  a.r_link {
    font-size: 0.9em;
    color: #021031;
    font-weight: 900;
    font-family: "Montserrat";
  }

  a.Button {
    display: block;
    width: 200px;
    color: white;
  }

  .Button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .Done span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .Button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .Done span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .Button:hover span {
    padding-right: 25px;
  }

  .Done:hover span {
    padding-right: 25px;
  }

  .Button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .Done:hover span:after {
    opacity: 1;
    right: 0;
  }

  .Button {
    width: 175px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #021031;
    color: #ffffff;
    font-size: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
  }

  .registration_background {
    position: absolute;
    margin-top: -5vh;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    background: linear-gradient(#021031, #657497);
    opacity: 0.2;
    z-index: -1;
  }

  .form_input {
    padding-left: 30px;
  }

  .reg_input {
    display: block;
    width: 240px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .Registration__main {
    display: flex;
    justify-content: center;
  }

  .RegistrationForm {
    margin-left: auto;
    margin-right: auto;
  }

  .Registration__main h2 {
    background-color: #021031;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    font-size: 1.6em;
    color: white;
  }
  .register_btn_container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }

  .Required {
    color: #ca1551;
    font-family: Arial;
    font-weight: bold;
  }

  .backpack-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  .backpack-container a.Button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .cards {
    margin: 5% 5%;
    max-height: 450px;
    overflow-y: scroll;
  }

  .cards::-webkit-scrollbar {
    display: none;
  }

  .card {
    margin-top: 10px;
    font-size: 0.8em;
    border-radius: 10px;
    background-color: #021031;
    opacity: 0.8;
  }

  .card h2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 20px 0 20px;
    font-size: 1.4em;
  }

  .card_options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 225px;
    padding-left: 20px;
    padding-right: 45px;
    padding-bottom: 10px;
    align-items: baseline;
    font-size: 1.4em;
    color: white;
  }

  .card_button {
    color: white;
  }

  .card p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .add_button {
    margin-top: 30px;
  }

  .Button.Add {
    line-height: 2;
    width: 160px;
  }

  h4 {
    margin-bottom: 20px;
  }

  .svg-inline--fa.fa-plus.fa-w-14 {
    margin-right: 10px;
  }

  ._title {
    margin-left: 5px;
  }

  .Title {
    margin-top: 10px;
    margin-left: 4px;
  }
  .Title {
    display: block;
    width: 175px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .error {
    margin-left: 5px;
    font-size: 0.75em;
  }

  .pack.inputs {
    height: 240px;
    padding-left: 45px;
  }
  .pack_items {
    padding-left: 25px;
    background-color: #021031;
    font-size: 1.3em;
  }

  .pack_items:nth-child(odd) {
    background-color: #ae893e;
  }

  .items {
    display: table;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 0.8em;
  }

  .items p.weight {
    display: table-cell;
    padding-right: 15px;
  }

  .items p.category {
    width: 135px;
    display: table-cell;
    text-align: left;
    padding-left: 10px;
  }

  .items p.brand {
    display: table-cell;
    padding-right: 10px;
    justify-content: left;
  }

  .category-display-true {
    display: block;
    height: 100%;
    margin-top: 5.5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .category-display-false {
    display: none;
  }

  .category-rotate-true {
    transform: rotate(45deg);
  }

  .chev-rotate-true {
    transform: rotate(180deg);
  }

  .pack.items p {
    margin: 0 5px;
    font-size: 1.3em;
  }

  .AddBackpack__main,
  .EditBackpack__main {
    display: flex;
    flex-direction: column;
    width: 325px;
    margin: 2vh auto;
    border-radius: 10px;
  }

  .addbackpack_title,
  .editbackpack_title {
    padding: 20px 20px 20px 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #021031;
  }

  .addbackpack_background,
  .editbackpack_background {
    position: absolute;
    width: 325px;
    height: 325px;
    background-color: #021031;
    opacity: 0.2;
    z-index: -1;
  }

  .addbackpack_items,
  .editbackpack_items {
    max-height: 275px;
    overflow-y: scroll;
  }

  .addbackpack_items::-webkit-scrollbar,
  .editbackpack_items::-webkit-scrollbar {
    display: none;
  }

  .category-display-true {
    background-color: unset;
  }

  .addbackpack_input,
  .editbackpack_input,
  .Title {
    display: block;
    width: 200px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .Save {
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
    padding: 8px 12px;
    border-radius: 4px;
    border: 0;
    color: white;
    background-color: #021031;
    font-size: 0.75em;
    font-weight: bold;
    font-family: inherit;
    outline: none;
    text-decoration: none;
  }

  .total_row {
    display: flex;
    justify-content: center;
  }

  .total_row h2 {
    margin-right: 10px;
  }

  .done_btn_container {
    display: flex;
    justify-content: center;
  }

  .bp_form {
    margin: unset;
  }

  .Done {
    width: 175px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #021031;
    color: #ffffff;
    font-size: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
  }

  .footer_text {
    text-align: center;
    font-weight: 200;
  }

  .footer_brands {
    display: flex;
    justify-content: center;
    font-size: 48px;
  }

  .footer_brands a {
    padding: 0 10px;
  }

  .fa-github:hover,
  .fa-linkedin:hover {
    color: #657497;
    transition: 0.3s ease-in;
  }

  .fa-github,
  .fa-linkedin {
    color: white;
  }
}

@media screen and (min-width: 768px) {
  .LandingPage_wrapper {
    height: 100vh;
  }

  .nav__link a {
    font-size: 1.4em;
  }

  .section-one-box h3 {
    font-size: 2.75em;
  }

  .section-two {
    margin-top: 35vh;
  }

  .info_card {
    margin-left: 10px;
    margin-right: 10px;
  }

  .info_card_text {
    font-size: 2em;
  }

  .login_background {
    width: 300px;
  }

  .LoginForm {
    margin-top: 20vh;
  }

  .login_input {
    width: 250px;
  }

  .registration_background {
    width: 600px;
    margin-top: 2.5vh;
  }

  .Registration__main {
    margin-top: 20vh;
  }

  .Registration__main h2 {
    width: 600px;
    text-align: center;
  }

  .RegistrationForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .form_input {
    margin-left: auto;
    margin-right: auto;
  }

  .reg_input {
    width: 400px;
  }

  .backpack-container {
    margin-top: 15vh;
  }

  .cards {
    max-height: 550px;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }

  .card_button {
    color: white;
  }

  .card_button:hover {
    color: #657497;
    transition: 0.3s ease-in;
  }

  .card p {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.2em;
  }

  .card_options {
    align-items: baseline;
    padding-right: 10px;
  }

  .svg-inline--fa.fa-dumbbell.fa-w-20 {
    font-size: 0.8em;
  }

  .Title {
    width: 400px;
  }

  .AddBackpack__main,
  .EditBackpack__main {
    width: 500px;
    margin: 15vh auto;
    border-radius: 10px;
  }

  .addbackpack_title,
  .editbackpack_title {
    width: 525px;
    padding-left: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #021031;
  }

  .addbackpack_background,
  .editbackpack_background {
    width: 525px;
    height: 325px;
    background-color: #021031;
    opacity: 0.2;
    z-index: -1;
  }

  .pack.inputs {
    padding-left: 75px;
  }

  .addbackpack_input {
    width: 375px;
  }

  .editbackpack_input {
    width: 375px;
  }

  .Save {
    width: 375px;
  }

  .bp_form {
    margin-left: 30px;
  }

  .total_row h2 {
    margin-right: 10px;
  }

  .Done {
    margin: 0;
  }

  .footer_text {
    padding-top: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .LandingPage_wrapper {
    width: 800px;
  }

  .section-two-box {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-height: 800px) {
  .section-one {
    margin-bottom: 51vh;
  }
}

@media screen and (min-height: 1000px) {
}
