@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:900&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: bolder;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url("https://github.com/mmbmf1/backpackd-app/blob/backpack-patch/src/images/man-in-black-backpack-during-golden-hour-1230302.jpg?raw=true");
  background-position: 60% center;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #0e2353;
  text-decoration: none;
}

a:visited {
  color: #0e2353;
}

a:hover {
  color: #ae9b3e;
}

h1 {
  text-align: center;
}

.App__main {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

/* footer {
  background-color: #314675;
} */

section {
  width: 100%;
  margin: 0;
  position: relative;
}

.section-one {
  height: calc(100vh - 100px);
}

.section-one-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-70%, -75%);
  width: 60%;
}

.section-one-box h3 {
  text-transform: capitalize;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 1.75em;
  font-weight: bold;
  color: #0e2353;
}

.Header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Header h1 {
  margin: 0;
  position: relative;
}

h1 a {
  text-decoration: none;
}

.home.link {
  vertical-align: -3px;
  padding-left: 8px;
}

.nav__link {
  position: relative;
  top: 8px;
}

.nav__link a {
  margin-right: 5px;
  padding: 0 0.5em;
  vertical-align: -3px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.3em;
  color: #0e2353;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

button.btn {
  width: 12rem;
  height: auto;
}

button.btn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0e2353;
  border-radius: 1.625rem;
}
button.btn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.btn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.btn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
button.btn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  font-weight: inherit;
  line-height: 1.6;
  text-align: center;
  color: #0e2353;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

#container {
  text-align: center;
}

.login_background {
  position: absolute;
  width: 215px;
  height: 315px;
  border-radius: 10px;
  background-color: #021031;
  opacity: 0.2;
  z-index: -1;
}

.registration_background {
  position: absolute;
  width: 215px;
  height: 470px;
  border-radius: 10px;
  background-color: #021031;
  opacity: 0.2;
  z-index: -1;
}

.Login__main {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: 24vh;
  max-width: 250px;
}

.Login__main h2 {
  background-color: #021031;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 215px;
  height: 45px;
  padding-left: 20px;
  padding-top: 10px;
  color: white;
}

.LoginForm,
.RegistrationForm {
  max-width: 200px;
  margin: 15px 15px 0 20px;
}

label {
  font-size: 1.2em;
  color: #021031;
}

.Input,
.Title {
  display: block;
  width: 175px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.Register__link {
  margin-left: 20px;
}

.Register__link p {
  width: 175px;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #021031;
}

a.r_link {
  font-size: 0.9em;
  color: white;
  font-weight: normal;
}

a.Button {
  display: block;
  width: 200px;
  color: white;
}

.Button {
  width: 175px;
  margin-left: 0;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  background-color: #021031;
  color: #ffffff;
  text-align: center;
  font-size: 1.1em;
  transition: all 0.5s;
  cursor: pointer;
}

.Button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.Button:hover span {
  padding-right: 25px;
}

.Button:hover span:after {
  opacity: 1;
  right: 0;
}

.Registration__main {
  position: relative;
  top: 2vh;
  left: 50%;
  width: 220px;
  margin-left: -150px;
  margin-top: 6vh;
  max-width: 250px;
  font-size: 0.8em;
}

.Registration__main h2 {
  background-color: #021031;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 215px;
  height: 70px;
  padding-left: 20px;
  padding-top: 10px;
  /* margin-bottom: 40px; */
  color: white;
}

.Required {
  color: #ca1551;
  font-family: Arial;
  font-weight: bold;
}

.backpack-container {
  margin-left: 20px;
  margin-right: 20px;
}

.backpack-container a.Button {
  margin-left: auto;
  margin-right: auto;
}

.card {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #afb4bf;
  color: white;
  text-decoration: none;
}

.card h2,
.card p {
  margin-bottom: 2px;
  margin-top: 2px;
}

.card p {
  margin-left: 35px;
  font-size: 0.8em;
}

.card:hover {
  transform: scale(1.05);
  margin-bottom: 30px;
}

.form.section {
  max-height: 275px;
  overflow-y: scroll;
}

.form.section::-webkit-scrollbar {
  display: none;
}
.form.section,
.pack.list {
  padding: 0 20px;
}

h4 {
  margin-bottom: 20px;
}

.svg-inline--fa.fa-plus.fa-w-14 {
  margin-right: 15px;
}

.Title {
  margin: 1px 0;
}

.error {
  font-size: 0.75em;
}

.pack.inputs {
  height: 200px;
}

.Save.Button,
.Delete {
  border: 1px solid #aaa;
  background-color: #657497;
  color: white;
  font-size: 0.75em;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pack.categories,
.total.weight {
  padding: 0 20px;
}

.pack.categories h4 {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 1px;
}

.pack.categories {
  width: 100%;
  margin-left: 15px;
}

.category-display-true {
  display: block;
}

.category-display-false {
  display: none;
}

.pack.items p {
  margin: 0 5px;
  font-size: 0.9em;
}

.total.weight {
  text-align: center;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  .nav__link a {
    margin-right: 5px;
    padding: 0 0.5em;
    vertical-align: -3px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
    color: #0e2353;
  }
  .section-one-box h3 {
    font-size: 2.25em;
  }

  .login_background {
    /* position: absolute; */
    width: 350px;
    /* height: 335px;
    border-radius: 10px;
    background-color: #021031;
    opacity: 0.2;
    z-index: -1; */
  }

  .registration_background {
    /* position: absolute; */
    width: 350px;
    /* height: 470px;
    border-radius: 10px;
    background-color: #021031;
    opacity: 0.2;
    z-index: -1; */
  }

  .Login__main {
    /* position: relative; */
    left: 30%;
    /* margin-left: -290px; */
    margin-top: 24vh;
    /* max-width: 250px; */
  }

  .Login__main h2 {
    /* background-color: #021031;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    width: 350px;
    /* height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    color: white; */
  }

  /* .LoginForm,
  .RegistrationForm {
    max-width: 250px;
    margin: 20px 20px 0 20px;
  } */

  /* label {
    font-size: 1.2em;
    color: #021031;
  } */
  .Registration__main {
    position: relative;
    /* top: 50%; */
    left: 30%;
    /* margin-left: -150px; */
    margin-top: 15vh;
    /* width: 250px; */
    font-size: 0.8em;
  }

  .Registration__main h2 {
    /* background-color: #021031;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    width: 350px;
    /* height: 70px;
    padding-left: 20px;
    padding-top: 10px; */
    /* margin-bottom: 40px; */
    /* color: white; */
  }
  .Input,
  .Title {
    /* display: block; */
    width: 300px;
    /* margin-bottom: 10px;
    padding: 10px;
    font-size: 1.1em;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px; */
  }

  /* .Register__link {
    margin-left: 20px;
  } */

  /* .Register__link p {
    margin-bottom: 5px;
    color: #021031; */
  /* color: white; */
  /* } */

  /* a.r_link {
    color: white;
    font-weight: normal;
  } */
}

@media screen and (min-width: 1024px) {
  .section-one-box h3 {
    font-size: 2.75em;
  }

  .login_background {
    /* position: absolute; */
    width: 500px;
    /* height: 335px; */
    /* border-radius: 10px;
    background-color: #021031;
    opacity: 0.2;
    z-index: -1; */
  }

  .registration_background {
    /* position: absolute; */
    width: 500px;
    /* height: 335px; */
    /* border-radius: 10px;
    background-color: #021031;
    opacity: 0.2;
    z-index: -1; */
  }

  .Login__main {
    position: relative;
    left: 25%;
    /* top: 25%; */
    /* margin-left: -450px; */
    margin-top: 24vh;
    /* max-width: 250px; */
  }

  .Login__main h2 {
    /* background-color: #021031;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    width: 500px;
    /* height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    color: white; */
  }

  .Registration__main {
    /* position: relative;
    top: 10vh;
    left: 30%; */
    margin-left: -150px;
    /* margin-top: 6vh; */
    /* width: 250px; */
    font-size: 0.8em;
  }

  .Registration__main h2 {
    /* background-color: #021031;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    width: 500px;
    /* height: 70px;
    padding-left: 20px;
    padding-top: 10px; */
    /* margin-bottom: 40px; */
    /* color: white; */
  }

  .Input,
  .Title {
    /* display: block; */
    width: 450px;
    /* margin-bottom: 10px;
    padding: 10px;
    font-size: 1.1em;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 4px; */
  }
}
